.ics-slider * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.ics-slider {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid black;

  background-image: url(http://placehold.it/300);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.ics-caption {
  position: absolute;
  bottom: 0px;

  margin: 0;
  padding: 0.4em;
  width: 100%;
  height: 80%;

  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  font-size: 125%;
  line-height: 1.2em;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ics-desc {
  display: block;
  height: inherit;
  overflow: scroll;

  font-size: 16px;
  margin: 10px 0;
  padding: 0;
}

.ics-title {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.ics-collapse {
  height: 1.8em;
  overflow: hidden;
}
